/* body{
    background-color: aqua;
} */

/* .box{
    height: 100px;
    width: 200px;
    margin: 10px;
    background-color: blue;
    border: 1px solid black;
} */


/* Media Query */
/* Specific Syntax - Specific Screens - Change */

/* @media screen and () */

/* @media only screen and (max-width:376px){
    body{
        background-color: brown ;
    }
    .box{
        height: 100px;
        width: 100px;
        margin: 10px;
        background-color: red;
        border: 1px solid black;
    }
} */


/* CSS Variables */

:root{
    /* --variable_name: value */
    /* --website_background: rgb(255, 238, 131); */
    --font_size:40px;
    --border_color:green;
}


.box{
    background-color: var(--website_background,blue);
    height: 100px;
    width: 200px;
    border: 1px solid var(--border_color);
    /* background-color: ; */
}