.container{
    height: 550px;
    width: 100%;
    border: 2px solid black;
    
    /* Main Reason */
    display: flex;
    
    /* CSS Properties for Main DIV / Container */
    /* flex-direction */
    flex-direction: row ; /* By Default - Row */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; reverse row */
    /* flex-direction: column-reverse; reverse column */
    
    /* flex-wrap: wrap (For Responsiveness); */
    /* flex-wrap: wrap-reverse; */

    /* Short Strick - flex direction + flex-wrap */
    /* flex-flow: column wrap; */

    /* Justify content */
    /* justify-content: center;  */
    /* (X - Axis se center krdeta hai) */

    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* Align Items */
    /*y-axis */
    /* align-items: center;  */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */

}
.box{
    background-color: aqua;
    border: 2px solid blue;
    margin: 10px;
    padding: 4px;
    height: 150px;
    width: 150px;
}

#box_1{
    /* order - Higher Value */
    order: 300;
}
#box_2{
    order: 1;
    /* flex-grow: 2; */
}
#box_3{
    order: 2;
    /* Grow */
    /* flex-grow: 2; */
    /* Less */
    /* flex-shrink: 2; */
    
    
    flex-basis: 550px;
    /* Flex-direction : Row - Flex-basic control width   */
    /* Flex-direction : Column - Flex-basic control height   */
}

.main{
    /* height: 500px; */
    /* width: 700px; */
    /* width: 100%;
    border: 1px solid black;
    background-image: url("https://images.unsplash.com/photo-1745236781096-be405b87d05c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2MHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat; */
     /* background-repeat: repeat; */
     /* background-position: bottom center;
     background-position: center center;
     background-position: top center; */
     /* background-position: left center; */
}

.image{
    /* height: 500px;
    width: 700px; */
    /* object-fit: scale-down; */
    /* the image is scaled down to the smallest version of none or contain */
    /* object-fit: cover;  */
    /* Pixels ko cover krleta hai  - maintain aspect ratio*/
    /* The image keeps its aspect ratio and fills the given dimension. The image will be clipped to fit */
    /* object-fit: contain;  */
    /* The image keeps its aspect ratio, but is resized to fit within the given dimension */
}